<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1>欢迎您， {{username}} !</h1>
<br>
<a href="http://127.0.0.1:8000/learn/logout/">退出</a>
<h3>这里是抗D中心模拟环境</h3>
<script type="text/javascript" src="http://qs.qsmind.com/media/user/js/modules/cloud/cloud.js"></script>
<iframe id="iframe_qs_qsmind_com" style="width:730px;border:0px;display:none;" frameborder="0" scrolling="no"  cloudval="mark:baiyuV3;style:#a49e8e,#c4b89c,#d1c8b3,#00467C,#00ad6e,#00cc81,#fa4c00,#f9f5eb,#ecfef4,#fef0e6;protocol:http;cloudSubDir:"></iframe>


</body>
</html>
